@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  font-family:'Lato', sans-serif;
  color:#4b4b4b;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height:100vh;
  
}


.container__img,
.container__logo {
 max-width: 100%;
 height: auto;
}

.container__logo{
 max-width: 75%;

}
.container__slogan{
  text-align: center;
  margin-left:25% ;
  margin-right:25%;
 font-family: 'Lato', sans-serif;
 font-size: 2.5vh;
 color:#4b4b4b;
}

.container__button{
 
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height:20vh;
 
  
}

.container__button__signup,
.container__button__login {
width:60%;
height: 41px;
background-color:#e69093;
border:none;
border-radius:0.5rem;

font-weight: bold;
color:#fff;
font-size: 2.5vh;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.container__button__signup:hover,
.container__button__login:hover {
  cursor: pointer;
}
.container__button__signup:active,
.container__button__login:active {
background-color:#e69093ab;
transition:0.1s;
box-shadow: none;  
}

.container__button__login:active{
   background-color:#44afaba4;  
}

.container__button__login{
 background-color:#44AFAC; 
}


 /***************estilos para REGISTER**************/
.container__logo-register{
  max-width: 100%;
  height: auto;
}
 .container__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;

  width:70%;
 }
 

 /********INICIO:estilos para INPUT**********/
.containerInput{
  width:100%;
  position:relative;
  margin:0.5rem;

}

.containerInput__box{
  width:100%;
 background: none;
 color: #4b4b4b;
 font-size: 1rem;
 padding:0 0 0.5rem 0.1rem;
 display:block;
 border:none;
 border-bottom: 1px solid #4b4b4b60;
 
}

.containerInput__box:focus{
  outline:none;
  color: #4b4b4b;
}

.containerInput__box:focus ~ label, 
.containerInput__box:valid ~ label {
position: absolute;
top:-1.2rem;
font-size: 1rem;
color: #44AFAC;
}

.containerInput__label{
color: #4b4b4b60;
font-size: 1rem;
position: absolute;
top: 0.2rem;
transition:0.5s ease all ;
pointer-events: none;
}

.containerInput__line::before{
  position:relative;
  display:block;
  width:100%;
}

.containerInput__box:focus ~ .containerInput__line::before{
  width:100%;
}

.containerInput__line::before{
  content:'';
  height: 0.12rem;
  width:0;
  bottom:0;
  left:0;
  position:absolute;
  background:#44AFAC;
  transition:0.3s ease all;

}
.warnings{

  margin-bottom:10px;
font-size: 0.7rem;
width: 100%;
color:#e69093;


}
 /*************** FIN:estilos para INPUT**************/


.container__terms-conditions{
  margin-top:10px;
  display:flex;
Justify-content: center;
  align-items: cssenter ;
  color: #4b4b4b;
  gap:0.3rem;
  width: 100%;
   
}

.label__conditions{
  font-weight:300;
  font-size: 0.9rem;
}
.input__conditions{
  display:none;
}
.input__conditions+.label__conditions{
  cursor :pointer;
}
.label__conditions:before{
  content:'';
  background:transparent;
  border:2.5px solid #44AFAC;
  border-radius:4px;
  display:inline-block;
  height:1rem;
  margin-right:4px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px -0.5px 1px  #44AFAC;
  width:1rem;
}
.input__conditions:checked +.label__conditions:before{
  content:'✓';
  font-size: 13px;
  color: #44AFAC;
  
}

.btnsubmit{
  margin-top: 15px;
  width: 90%;
}

.containerGoogle{
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

}
.containerGoogle__link{
 text-decoration: none;
 font-size: 0.7rem;
 font-weight: bold;
 color:#4A90E2;

}

.containerGoogle__logo{
width: 1.5rem;
  height:1.5rem;
}
.container__alreadyAccount{
 text-align: center;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #4b4b4b60;
}

/*************INICIO:login********************/
.containerLogin{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    width: 100%;
    height:100vh;

}

.containerLogin__logo-login{
  max-width:100%;
  height: auto;
}
.containerLogin_form{
  width: 80%;
  height: 40vh;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}
 /*************** INICIO:estilos para modal **************/

.container-modal {
  display: none; 
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.container-modal__content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
 /* border:3px solid #e69093;*/
  border-radius:0.5rem;
  width: 80%;
}

/* The Close Button #44AFAC  #44afaba4*/
.container-modal__close {
  color: #44AFAC;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
}

.container-modal__close:hover,
.container-modal__close:focus {
  color: #44afaba4;
  text-decoration: none;
  transition:0.2s;
 
}

 /*************** FIN:estilos para modal **************/

  /*************** INICIO:estilos para wall **************/
  .containerWall{
  gap:1rem;
  }


.container-header{
  justify-content: start;
  width:90%;
 
}
.container-header__logo{
 width:40%;
 
}

.container-addPost{
  width: 90%;
  display: flex;
  /*border: rgb(255, 0, 0) solid 0.1rem ;*/
  align-items: center;
  justify-content:space-around;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
  
  padding:0.5rem;
  
  }

.container-imgProfile{
  width:40px ;
  height: 40px;
  border-radius: 200px;
  padding:0px;
 
  clip-path: circle(50% at 50% 50%);
}

.container-imgProfile__img{
width:100% ;
height: auto;

}

.container-addPost__text{

  /* padding: 0.9rem; */
 /* flex-grow: 2;*/
}

.container-Posts{
  width:100%;
  height: 80vh;
 
 display:flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}


.container-Posts__Post{
  width: 90%;
   box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
   display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap:0.2rem;
  height:600px ;
 

}


.container-headerPost{
  margin-top:10px;
  display:flex;
  width: 90%;
  justify-content:space-between;
  align-items: center;
 
}

.container-imgPost{
  width: 90%;
  height: auto;
  border-radius:1.6rem;
  
}
.container-imgPost__img{
  max-width: 100%;
  height: auto;
  border-radius: 1.7rem;
}
.container-headerPost__img{
  display:flex;
  width:50%;
  gap: 0.5rem;
  align-items: center;
}
.container-headerPost__img__user{
  border-radius: 50%;
    height: 35px;
    object-fit: cover;
    object-position: center;
    width: 35px;
    background-color:#fff;    
}
.container-headerPost__icon{
  height:auto;
  width:5px;
}

.containerButtons{
   width:90%;
   height: 40px;
   display:flex;
   align-items: center;
   gap:1rem;  
}
.containerButtons__likes,.containerButtons__comments{
 width:68px;
 height:30px;
}
.containerLikes{
 outline:none;
 background-color:#F8C5C7;
 border-radius: 0.2rem;
 padding: 4px;
 display:flex;
 align-items: center;
 cursor:pointer;
}
.containerLikes:hover{
  color: #A05154;
  transition:0.2s;
}

.containerLikes__heart,.containerComments__comment{
width:19px;
height:17px;
}
.containerComments__count{
color:#fbbc05;
font-weight:bold;
}

.containerComments{
outline:none;
 background-color:#FEF1CD;
 border-radius: 0.2rem;
 padding: 4px;
 display:flex;
 align-items: center;
 cursor:pointer;
}

.containerLikes__count{
  color:#E52320;
  font-weight:bold;
}

.containerComment{
  display:flex;
  width:90%;
  align-items: center;
  gap:1rem;
  margin-bottom: 10px;
}
.containerComment__text{
  font-family: 'Lato', sans-serif;
  width:70%;
  height: auto;
  resize:none;
  flex-grow:1 ;
  color:#4b4b4b;
  font-size:0.8rem;
  border-style: none;
background-color:#4b4b4b16;
border-radius: 0.5rem;
padding:0.5rem;
text-align: left;
}
.containerComment__text:focus{
  outline:none;
}

   /*************** FIN:estilos para wall **************/
   
   /*************** inicio:estilos para header **************/
.containerHeader{
  background-color:#7DBA93;
  width:100%;
  height: 7vh;
  display:flex;
 display:flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  top:93vh;
}
.containeMenu{
 width:90%;
  display:flex;
  justify-content:space-between;
  align-items: center;
  
}

.containeMenu__iconImg{
  width:35px ;
  height:35px ;

  
}

   /*************** FIN:estilos para header **************/

