@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  font-family:'Lato', sans-serif;
  color:#4b4b4b;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height:100vh;
 
}

.container__img,
.container__logo {
 max-width: 100%;
 height: auto;
}

.container__logo{
 max-width: 75%;

}
.container__slogan{
  text-align: center;
  margin-left:25% ;
  margin-right:25%;
 font-family: 'Lato', sans-serif;
 font-size: 2.5vh;
 color:#4b4b4b;
}

.container__button{
 
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height:20vh;
 
  
}

.container__button__signup,
.container__button__login {
width:60%;
height: 41px;
background-color:#e69093;
border:none;
border-radius:0.5rem;

font-weight: bold;
color:#fff;
font-size: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.container__button__signup:hover,
.container__button__login:hover {
  cursor: pointer;
}
.container__button__signup:active,
.container__button__login:active {
background-color:#e69093ab;
transition:0.1s;
box-shadow: none;  
}

.container__button__login:active{
   background-color:#44afaba4;  
}

.container__button__login{
 background-color:#44AFAC; 
}


 /***************estilos para REGISTER**************/
.container__logo-register{
  max-width: 100%;
  height: auto;
}
.container__title{
  margin-bottom: 10px;
  font-size:1.2rem;

}
 .container__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
 }
 

 /********INICIO:estilos para INPUT**********/
.containerInput{
  width:100%;
  position:relative;
  margin:0.5rem;
}

.containerInput__box{
  width:100%;
 background: none;
 color: #4b4b4b;
 font-size: 1rem;
 padding:0 0 0.5rem 0.1rem;
 display:block;
 border:none;
 border-bottom: 1px solid #4b4b4b60;
 
}

.containerInput__box:focus{
  outline:none;
  color:  #000;
}

.containerInput__box:focus ~ label, 
.containerInput__box:valid ~ label {
position: absolute;
top:-1.2rem;
font-size: 1rem;
color: #44AFAC;
}

.containerInput__label{
color: #4b4b4b60;
font-size: 1rem;
position: absolute;

top: 0.2rem;
transition:0.5s ease all ;
pointer-events: none;
}

.containerInput__line,
.containerDate__line{
  position:relative;
  display:block;
  width:100%;
}

.containerInput__box:focus ~ .containerInput__line::before{
  width:100%;
}

.containerInput__line::before{
  content:'';
  height: 0.12rem;
  width:0;
  bottom:0;
  left:0;
  position:absolute;
  background:#44AFAC;
  transition:0.3s ease all;

}
 /*************** FIN:estilos para INPUT**************/
#date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width:100%;
  color: #44AFAC;
 
  
}
.label__date{
  font-size: 1rem;
  font-weight: 400;
  color: #44AFAC;
}
.input__date{
  font-size: 1rem;
  width:100%;
  
  color: #4b4b4b60;
  border:none;
}

.input__date:focus{
   outline:none;
   color:  #000;
 
}
.containerDate__line{
 border-bottom: 1px solid #4b4b4b60;

}

.container__terms-conditions{
  margin-top:10px;
  display:flex;
Justify-content: center;
  align-items: cssenter ;
  color: #4b4b4b;
  gap:0.3rem;
  width: 100%;
 
}

.label__conditions{
  font-weight:300;
  font-size: 0.9rem;
}

.btnsubmit{
  margin-top: 15px;
  width: 90%;
}

.containerGoogle{
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

}
.containerGoogle__link{
 text-decoration: none;
 font-size: 0.7rem;
 font-weight: bold;
 color:#4A90E2;

}

.containerGoogle__logo{
width: 1.5rem;
  height:1.5rem;
}
.container__alreadyAccount{
 text-align: center;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #4b4b4b60;
}

/*************INICIO:login********************/
.containerLogin{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    width: 100%;
    height:100vh;

}

.containerLogin__logo-login{
  max-width:100%;
  height: auto;
}
.containerLogin_form{
  width: 80%;
  height: 40vh;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}
 /*************** INICIO:estilos para modal **************/

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.modal__close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 /*************** FIN:estilos para modal **************/